<template>
    <div class="form">
        <h2>Modifier un film</h2>
        <div class="form__content">
            <div class="inputs">
                <input placeholder="Titre" v-model="movie.title" />
                <textarea
                    placeholder="Synopsis"
                    v-model="movie.plot"
                ></textarea>
                <input
                    placeholder="Nom du réalisateur"
                    v-model="movie.director.name"
                />
                <input
                    placeholder="Date de naissance du réalisateur"
                    v-model="movie.director.birthDate"
                />
                <input
                    placeholder="Nationalité du réalisateur"
                    v-model="movie.director.nationality"
                />
                <button v-on:click="addMovie">Sauvegarder le film</button>
            </div>
            <div class="poster">
                <img :src="movie.poster" :alt="movie.title" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "addMovie",
    methods: {
        addMovie: function() {
            let url =
                "http://www.omdbapi.com/?apikey=" +
                window.shared_data.omdbApiKey +
                "&t=" +
                this.movie.title;
            fetch(url)
                .then((response) => response.json())
                .then((data) => {
                    this.movie.poster = data.Poster;
                    this.movie.runtime = data.Runtime;
                    this.movie.releaseDate = data.Year;
                    //movie.langue = data.Language.split(",")[0];
                    this.movie.langue = data.Language;
                    this.movie.genre = data.Genre;
                });
            let lastId = this.shared_data.movies[
                this.shared_data.movies.length - 1
            ].id;

            this.movie.id = lastId + 1;
            this.movie.poster = this.shared_data.movies.push(this.movie);
            this.$router.push({ path: "/" });
        },
    },
    data: function() {
        return {
            shared_data: window.shared_data,
            movie: {
                id: "",
                title: "",

                director: {
                    name: "",
                    nationality: "",
                    birthDate: "",
                },
                plot: "",
                poster: null,
                runtime: null,
                releaseDate: null,
                langue: null,
                genre: null,

                note: null,
            },
        };
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
    font-family: forma-djr-deck, sans-serif;
}
.form {
    padding: 15px;
}
.inputs {
    display: flex;
    flex-direction: column;
}
input,
textarea {
    background: #ffffff;
    padding: 8px 10px;
    border: 2px solid #35495e;
    width: 500px;
    margin: 10px 0;
}
textarea {
    height: 300px;
    max-width: 500px;
    min-width: 500px;
    max-height: 600px;
}
input:focus,
textarea:focus {
    border-color: #359469;
    outline: none;
}
button {
    width: 200px;
    background: #359469;
    padding: 10px 20px;
    border: 1px solid #359469;
    color: white;
    font-weight: 900;
}
.form__content {
    display: flex;
}
.poster {
    padding: 0 15px;
}
</style>
