<template>
    <div class="form">
        <h2>Modifier un film</h2>
        <div class="form__content">
            <div class="inputs">
                <input placeholder="Titre" v-model="movie.title" />
                <input
                    placeholder="Date de sortie"
                    v-model="movie.releaseDate"
                />
                <textarea
                    placeholder="Synopsis"
                    v-model="movie.plot"
                ></textarea>
                <input
                    placeholder="Nom du réalisateur"
                    v-model="movie.director.name"
                />
                <input
                    placeholder="Date de naissance du réalisateur"
                    v-model="movie.director.birthDate"
                />
                <input
                    placeholder="Nationalité du réalisateur"
                    v-model="movie.director.nationality"
                />
                <input placeholder="URL de l'affiche" v-model="movie.poster" />
                <input placeholder="Langue du film" v-model="movie.langue" />
                <input placeholder="Genre du film" v-model="movie.genre" />

                <button v-on:click="editMovie">Sauvegarder le film</button>
            </div>
            <div class="poster">
                <img :src="movie.poster" :alt="movie.title" />
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "editMovie",
    methods: {
        editMovie: function() {
            this.$router.push({ path: "/" });
        },
        getMovieById: function(id) {
            this.shared_data.movies.forEach((movie) => {
                if ((movie.id = id)) {
                    return movie;
                }
            });
        },
    },
    data: function() {
        return {
            shared_data: window.shared_data,
        };
    },
    computed: {
        movie: function() {
            let id = parseInt(this.$route.params.idMovie);
            let movieToEdit = null;

            this.shared_data.movies.forEach((movie) => {
                if (movie.id == id) {
                    movieToEdit = movie;
                }
            });
            return movieToEdit;
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
    font-family: forma-djr-deck, sans-serif;
}
.form {
    padding: 15px;
}
.inputs {
    display: flex;
    flex-direction: column;
}
input,
textarea {
    background: #ffffff;
    padding: 8px 10px;
    border: 2px solid #35495e;
    width: 500px;
    margin: 10px 0;
}
textarea {
    height: 300px;
    max-width: 500px;
    min-width: 500px;
    max-height: 600px;
}
input:focus,
textarea:focus {
    border-color: #359469;
    outline: none;
}
button {
    width: 200px;
    background: #359469;
    padding: 10px 20px;
    border: 1px solid #359469;
    color: white;
    font-weight: 900;
}
.form__content {
    display: flex;
}
.poster {
    padding: 0 15px;
}
</style>
