<template>
    <div class="movie">
        <h1>{{ movie.title }}</h1>
        <div class="movie__container">
            <div class="movie__image">
                <img :src="movie.poster" :alt="movie.title" />
            </div>
            <div class="movie__data">
                <div class="movie_info">
                    <h3>{{ movie.releaseDate }}</h3>
                    <span>/</span>
                    <h3>{{ movie.genre }}</h3>
                    <span>/</span>
                    <h3>{{ movie.runtime }}</h3>
                </div>

                <div class="movie__director">
                    <span>De</span>
                    <div>
                        <h3>{{ movie.director.name }}</h3>
                        <h4>
                            ({{ movie.director.birthDate }},
                            {{ movie.director.nationality }})
                        </h4>
                    </div>
                </div>

                <p class="movie__plot">{{ movie.plot }}</p>
                <div class="movie__note">
                    <svg
                        :class="{ active: movie.note == 5 }"
                        v-on:click="setNote(5)"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 32 32"
                    >
                        <path
                            d="M 30.335938 12.546875 L 20.164063 11.472656 L 16 2.132813 L 11.835938 11.472656 L 1.664063 12.546875 L 9.261719 19.394531 L 7.140625 29.398438 L 16 24.289063 L 24.859375 29.398438 L 22.738281 19.394531 Z"
                        />
                    </svg>
                    <svg
                        :class="{ active: movie.note == 4 }"
                        v-on:click="setNote(4)"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 32 32"
                    >
                        <path
                            d="M 30.335938 12.546875 L 20.164063 11.472656 L 16 2.132813 L 11.835938 11.472656 L 1.664063 12.546875 L 9.261719 19.394531 L 7.140625 29.398438 L 16 24.289063 L 24.859375 29.398438 L 22.738281 19.394531 Z"
                        />
                    </svg>
                    <svg
                        :class="{ active: movie.note == 3 }"
                        v-on:click="setNote(3)"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 32 32"
                    >
                        <path
                            d="M 30.335938 12.546875 L 20.164063 11.472656 L 16 2.132813 L 11.835938 11.472656 L 1.664063 12.546875 L 9.261719 19.394531 L 7.140625 29.398438 L 16 24.289063 L 24.859375 29.398438 L 22.738281 19.394531 Z"
                        />
                    </svg>
                    <svg
                        :class="{ active: movie.note == 2 }"
                        v-on:click="setNote(2)"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 32 32"
                    >
                        <path
                            d="M 30.335938 12.546875 L 20.164063 11.472656 L 16 2.132813 L 11.835938 11.472656 L 1.664063 12.546875 L 9.261719 19.394531 L 7.140625 29.398438 L 16 24.289063 L 24.859375 29.398438 L 22.738281 19.394531 Z"
                        />
                    </svg>
                    <svg
                        :class="{ active: movie.note == 1 }"
                        v-on:click="setNote(1)"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 32 32"
                    >
                        <path
                            d="M 30.335938 12.546875 L 20.164063 11.472656 L 16 2.132813 L 11.835938 11.472656 L 1.664063 12.546875 L 9.261719 19.394531 L 7.140625 29.398438 L 16 24.289063 L 24.859375 29.398438 L 22.738281 19.394531 Z"
                        />
                    </svg>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "movie",
    methods: {
        editMovie: function() {
            this.$router.push({ path: "/" });
        },
        setNote: function(note) {
            this.movie.note = note;
        },
    },
    data: function() {
        return {
            shared_data: window.shared_data,
        };
    },
    computed: {
        movie: function() {
            let id = parseInt(this.$route.params.idMovie);
            let movieToEdit = null;
            this.shared_data.movies.forEach((movie) => {
                if (movie.id == id) {
                    movieToEdit = movie;
                }
            });
            return movieToEdit;
        },
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
* {
    font-family: forma-djr-deck, sans-serif;
}
h1 {
    padding: 15px;
}
.movie__container {
    padding: 15px;
    display: flex;
}
.movie__data {
    margin-left: 15px;
}
.movie_info {
    display: flex;
}
.movie_info span {
    margin: 0 4px;
}
.movie__titleInfo {
    display: flex;
}
.movie__titleInfo h3:last-child {
    margin-left: 6px;
}
.movie__director {
    display: flex;
    flex-direction: column;
}
.movie__director div {
    display: flex;
    align-items: center;
}
.movie__director h4:last-child {
    margin-left: 6px;
}
.movie__director span {
    font-size: 14px;
    margin-right: 6px;
}
.movie__plot {
    margin-top: 20px;
}
.movie__image {
    display: flex;
    justify-content: flex-end;
}
.poster {
    padding: 0 15px;
}
.movie__note {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 20px;
}
.movie__note svg {
    width: 25px;
    height: 25px;
    fill: transparent;
    stroke: black;
    stroke-width: 2px;
    padding: 0 1px;
}

.movie__note svg:nth-child(5):hover,
.movie__note svg:nth-child(5).active {
    fill: gold;
    stroke: gold;
}
.movie__note svg:nth-child(4):hover + svg,
.movie__note svg:nth-child(4):hover,
.movie__note svg:nth-child(4).active + svg,
.movie__note svg:nth-child(4).active {
    fill: gold;
    stroke: gold;
}
.movie__note svg:nth-child(3):hover + svg + svg,
.movie__note svg:nth-child(3):hover + svg,
.movie__note svg:nth-child(3):hover,
.movie__note svg:nth-child(3).active + svg + svg,
.movie__note svg:nth-child(3).active + svg,
.movie__note svg:nth-child(3).active {
    fill: gold;
    stroke: gold;
}
.movie__note svg:nth-child(2):hover + svg + svg + svg,
.movie__note svg:nth-child(2):hover + svg + svg,
.movie__note svg:nth-child(2):hover + svg,
.movie__note svg:nth-child(2):hover,
.movie__note svg:nth-child(2).active + svg + svg + svg,
.movie__note svg:nth-child(2).active + svg + svg,
.movie__note svg:nth-child(2).active + svg,
.movie__note svg:nth-child(2).active {
    fill: gold;
    stroke: gold;
}
.movie__note svg:nth-child(1):hover + svg + svg + svg + svg,
.movie__note svg:nth-child(1):hover + svg + svg + svg,
.movie__note svg:nth-child(1):hover + svg + svg,
.movie__note svg:nth-child(1):hover + svg,
.movie__note svg:nth-child(1):hover,
.movie__note svg:nth-child(1).active + svg + svg + svg + svg,
.movie__note svg:nth-child(1).active + svg + svg + svg,
.movie__note svg:nth-child(1).active + svg + svg,
.movie__note svg:nth-child(1).active + svg,
.movie__note svg:nth-child(1).active {
    fill: gold;
    stroke: gold;
}

@media screen and (max-width: 960px) {
    .movie__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
</style>
